<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEB SCRAPING</title>
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/main.js"></script>
</head>
<body>
    
    <h1>HISTORIAL PRECIOS</h1>

    <select id="juegos">
        <% for (let i = 0; i < games.length; i++) { %>
            <option value="<%- games[i].titulo %>"><%- games[i].titulo %></option>
        <% } %>
    </select>

    <canvas id="myChart" width="400" height="400"></canvas>

</body>
</html>